@mixin underline-opening {
  @include line-options(
    after,
    $transition-property: width,
    $value-of-transitioned-property: $max-value-of-transitioned-property
  );

  @include line-options(
    before,
    $transition-property: width,
    $value-of-transitioned-property: $max-value-of-transitioned-property
  );
  &:after {
    bottom: 0%;
    left: 0%;
    right: 0;
    margin: 0 auto;
  }

  &:before {
    bottom: 0%;
    right: 0%;
    left: 0;
    margin: 0 auto;
  }
}
