@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #1BA39C;
  font-family: 'Source Sans Pro', Arial; }

main {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.main-col {
  width: 100%;
  text-align: center;
  margin-top: 40px; }

.col-anchors {
  width: 90%;
  text-align: center;
  height: auto;
  position: relative;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .col-anchors {
      width: 100%; } }

.container {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.btn {
  background-color: #2C3E50;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 20px;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  width: 80%;
  margin: 20px auto 0;
  z-index: -1;
  display: block;
  position: relative;
  z-index: 2;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -ms-transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
  /* backward transition */
  /* backward transition */ }
  .btn:hover,
  .btn:focus {
    color: #2C3E50;
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -ms-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
    cursor: pointer; }
  .btn:before {
    -webkit-border-radius: 0%;
    border-radius: 0%;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .btn:after {
    -webkit-border-radius: 0%;
    border-radius: 0%;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .btn:hover:after,
  .btn:focus:after {
    outline: 0;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .btn:hover:before,
  .btn:focus:before {
    outline: 0;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 100%; }
  .btn:hover:after {
    width: 50%;
    height: 100%; }
  .btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 100%; }
  .btn:hover:before {
    width: 50%;
    height: 100%; }
  .btn:before {
    top: 0%;
    left: 0; }
  .btn:after {
    top: 0%;
    right: 0; }
  @media (min-width: 768px) {
    .btn {
      width: auto;
      margin: 0 10px;
      display: inline-block;
      position: relative;
      z-index: 2;
      text-decoration: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-weight: 500;
      font-size: 2em;
      color: #fff;
      padding: 20px 50px;
      white-space: nowrap;
      overflow: hidden;
      -webkit-transition: color 1s ease-in-out;
      -moz-transition: color 1s ease-in-out;
      -ms-transition: color 1s ease-in-out;
      -o-transition: color 1s ease-in-out;
      transition: color 1s ease-in-out;
      /* backward transition */
      /* backward transition */ }
      .btn:hover,
      .btn:focus {
        color: #2C3E50;
        -webkit-transition: color 1s ease-in-out;
        -moz-transition: color 1s ease-in-out;
        -ms-transition: color 1s ease-in-out;
        -o-transition: color 1s ease-in-out;
        transition: color 1s ease-in-out;
        cursor: pointer; }
      .btn:before {
        -webkit-border-radius: 0%;
        border-radius: 0%;
        -webkit-transition: all 1s ease-in-out 0s;
        -moz-transition: all 1s ease-in-out 0s;
        -ms-transition: all 1s ease-in-out 0s;
        -o-transition: all 1s ease-in-out 0s;
        transition: all 1s ease-in-out 0s; }
      .btn:after {
        -webkit-border-radius: 0%;
        border-radius: 0%;
        -webkit-transition: all 1s ease-in-out 0s;
        -moz-transition: all 1s ease-in-out 0s;
        -ms-transition: all 1s ease-in-out 0s;
        -o-transition: all 1s ease-in-out 0s;
        transition: all 1s ease-in-out 0s; }
      .btn:hover:after,
      .btn:focus:after {
        outline: 0;
        background-color: #fff;
        -webkit-transition: all 1s ease-in-out 0s;
        -moz-transition: all 1s ease-in-out 0s;
        -ms-transition: all 1s ease-in-out 0s;
        -o-transition: all 1s ease-in-out 0s;
        transition: all 1s ease-in-out 0s; }
      .btn:hover:before,
      .btn:focus:before {
        outline: 0;
        background-color: #fff;
        -webkit-transition: all 1s ease-in-out 0s;
        -moz-transition: all 1s ease-in-out 0s;
        -ms-transition: all 1s ease-in-out 0s;
        -o-transition: all 1s ease-in-out 0s;
        transition: all 1s ease-in-out 0s; } }

.main-heading {
  width: 60%;
  display: inline;
  position: relative;
  z-index: 2;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: 700;
  font-size: 2em;
  color: #2C3E50;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -ms-transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
  /* backward transition */
  /* backward transition */ }
  .main-heading:hover,
  .main-heading:focus {
    color: #fff;
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -ms-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
    cursor: pointer; }
  .main-heading:before {
    -webkit-border-radius: 0%;
    border-radius: 0%;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .main-heading:after {
    -webkit-border-radius: 0%;
    border-radius: 0%;
    -webkit-transition: all 1s ease-in-out 0.5s;
    -moz-transition: all 1s ease-in-out 0.5s;
    -ms-transition: all 1s ease-in-out 0.5s;
    -o-transition: all 1s ease-in-out 0.5s;
    transition: all 1s ease-in-out 0.5s; }
  .main-heading:hover:after,
  .main-heading:focus:after {
    outline: 0;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out 0.5s;
    -moz-transition: all 1s ease-in-out 0.5s;
    -ms-transition: all 1s ease-in-out 0.5s;
    -o-transition: all 1s ease-in-out 0.5s;
    transition: all 1s ease-in-out 0.5s; }
  .main-heading:hover:before,
  .main-heading:focus:before {
    outline: 0;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .main-heading:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 2%; }
  .main-heading:hover:after {
    width: 100%;
    height: 2%; }
  .main-heading:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 2%; }
  .main-heading:hover:before {
    width: 100%;
    height: 2%; }
  .main-heading:after {
    right: 0%;
    bottom: 0;
    margin: 0 auto;
    left: 0; }
  .main-heading:before {
    right: 0%;
    bottom: 10px;
    margin: 0 auto;
    left: 0; }
  @media (min-width: 480px) {
    .main-heading {
      display: inline;
      position: relative;
      z-index: 2;
      text-decoration: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-weight: 700;
      font-size: 2.5em;
      color: #2C3E50;
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      -webkit-transition: color 1s ease-in-out;
      -moz-transition: color 1s ease-in-out;
      -ms-transition: color 1s ease-in-out;
      -o-transition: color 1s ease-in-out;
      transition: color 1s ease-in-out;
      /* backward transition */
      /* backward transition */ }
      .main-heading:hover,
      .main-heading:focus {
        color: #fff;
        -webkit-transition: color 1s ease-in-out;
        -moz-transition: color 1s ease-in-out;
        -ms-transition: color 1s ease-in-out;
        -o-transition: color 1s ease-in-out;
        transition: color 1s ease-in-out;
        cursor: pointer; }
      .main-heading:before {
        -webkit-border-radius: 0%;
        border-radius: 0%;
        -webkit-transition: all 1s ease-in-out 0s;
        -moz-transition: all 1s ease-in-out 0s;
        -ms-transition: all 1s ease-in-out 0s;
        -o-transition: all 1s ease-in-out 0s;
        transition: all 1s ease-in-out 0s; }
      .main-heading:after {
        -webkit-border-radius: 0%;
        border-radius: 0%;
        -webkit-transition: all 1s ease-in-out 0.5s;
        -moz-transition: all 1s ease-in-out 0.5s;
        -ms-transition: all 1s ease-in-out 0.5s;
        -o-transition: all 1s ease-in-out 0.5s;
        transition: all 1s ease-in-out 0.5s; }
      .main-heading:hover:after,
      .main-heading:focus:after {
        outline: 0;
        background-color: #fff;
        -webkit-transition: all 1s ease-in-out 0.5s;
        -moz-transition: all 1s ease-in-out 0.5s;
        -ms-transition: all 1s ease-in-out 0.5s;
        -o-transition: all 1s ease-in-out 0.5s;
        transition: all 1s ease-in-out 0.5s; }
      .main-heading:hover:before,
      .main-heading:focus:before {
        outline: 0;
        background-color: #fff;
        -webkit-transition: all 1s ease-in-out 0s;
        -moz-transition: all 1s ease-in-out 0s;
        -ms-transition: all 1s ease-in-out 0s;
        -o-transition: all 1s ease-in-out 0s;
        transition: all 1s ease-in-out 0s; } }
  @media (min-width: 600px) {
    .main-heading {
      display: inline;
      position: relative;
      z-index: 2;
      text-decoration: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-weight: 700;
      font-size: 3em;
      color: #2C3E50;
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      -webkit-transition: color 1s ease-in-out;
      -moz-transition: color 1s ease-in-out;
      -ms-transition: color 1s ease-in-out;
      -o-transition: color 1s ease-in-out;
      transition: color 1s ease-in-out;
      /* backward transition */
      /* backward transition */ }
      .main-heading:hover,
      .main-heading:focus {
        color: #fff;
        -webkit-transition: color 1s ease-in-out;
        -moz-transition: color 1s ease-in-out;
        -ms-transition: color 1s ease-in-out;
        -o-transition: color 1s ease-in-out;
        transition: color 1s ease-in-out;
        cursor: pointer; }
      .main-heading:before {
        -webkit-border-radius: 0%;
        border-radius: 0%;
        -webkit-transition: all 1s ease-in-out 0s;
        -moz-transition: all 1s ease-in-out 0s;
        -ms-transition: all 1s ease-in-out 0s;
        -o-transition: all 1s ease-in-out 0s;
        transition: all 1s ease-in-out 0s; }
      .main-heading:after {
        -webkit-border-radius: 0%;
        border-radius: 0%;
        -webkit-transition: all 1s ease-in-out 0.5s;
        -moz-transition: all 1s ease-in-out 0.5s;
        -ms-transition: all 1s ease-in-out 0.5s;
        -o-transition: all 1s ease-in-out 0.5s;
        transition: all 1s ease-in-out 0.5s; }
      .main-heading:hover:after,
      .main-heading:focus:after {
        outline: 0;
        background-color: #fff;
        -webkit-transition: all 1s ease-in-out 0.5s;
        -moz-transition: all 1s ease-in-out 0.5s;
        -ms-transition: all 1s ease-in-out 0.5s;
        -o-transition: all 1s ease-in-out 0.5s;
        transition: all 1s ease-in-out 0.5s; }
      .main-heading:hover:before,
      .main-heading:focus:before {
        outline: 0;
        background-color: #fff;
        -webkit-transition: all 1s ease-in-out 0s;
        -moz-transition: all 1s ease-in-out 0s;
        -ms-transition: all 1s ease-in-out 0s;
        -o-transition: all 1s ease-in-out 0s;
        transition: all 1s ease-in-out 0s; } }
  @media (min-width: 980px) {
    .main-heading {
      display: inline;
      position: relative;
      z-index: 2;
      text-decoration: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-weight: 700;
      font-size: 4em;
      color: #2C3E50;
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      -webkit-transition: color 1s ease-in-out;
      -moz-transition: color 1s ease-in-out;
      -ms-transition: color 1s ease-in-out;
      -o-transition: color 1s ease-in-out;
      transition: color 1s ease-in-out;
      /* backward transition */
      /* backward transition */ }
      .main-heading:hover,
      .main-heading:focus {
        color: #fff;
        -webkit-transition: color 1s ease-in-out;
        -moz-transition: color 1s ease-in-out;
        -ms-transition: color 1s ease-in-out;
        -o-transition: color 1s ease-in-out;
        transition: color 1s ease-in-out;
        cursor: pointer; }
      .main-heading:before {
        -webkit-border-radius: 0%;
        border-radius: 0%;
        -webkit-transition: all 1s ease-in-out 0s;
        -moz-transition: all 1s ease-in-out 0s;
        -ms-transition: all 1s ease-in-out 0s;
        -o-transition: all 1s ease-in-out 0s;
        transition: all 1s ease-in-out 0s; }
      .main-heading:after {
        -webkit-border-radius: 0%;
        border-radius: 0%;
        -webkit-transition: all 1s ease-in-out 0.5s;
        -moz-transition: all 1s ease-in-out 0.5s;
        -ms-transition: all 1s ease-in-out 0.5s;
        -o-transition: all 1s ease-in-out 0.5s;
        transition: all 1s ease-in-out 0.5s; }
      .main-heading:hover:after,
      .main-heading:focus:after {
        outline: 0;
        background-color: #fff;
        -webkit-transition: all 1s ease-in-out 0.5s;
        -moz-transition: all 1s ease-in-out 0.5s;
        -ms-transition: all 1s ease-in-out 0.5s;
        -o-transition: all 1s ease-in-out 0.5s;
        transition: all 1s ease-in-out 0.5s; }
      .main-heading:hover:before,
      .main-heading:focus:before {
        outline: 0;
        background-color: #fff;
        -webkit-transition: all 1s ease-in-out 0s;
        -moz-transition: all 1s ease-in-out 0s;
        -ms-transition: all 1s ease-in-out 0s;
        -o-transition: all 1s ease-in-out 0s;
        transition: all 1s ease-in-out 0s; } }

.main-subheading {
  font-size: 1.5em;
  margin-top: 40px; }
  @media (min-width: 480px) {
    .main-subheading {
      font-size: 1.7em; } }
  @media (min-width: 768px) {
    .main-subheading {
      font-size: 2.2em; } }

.subheading-em {
  line-height: 1.6em;
  display: inline;
  position: relative;
  z-index: 2;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: 700;
  font-size: 1.2em;
  color: #2C3E50;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -ms-transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
  /* backward transition */
  /* backward transition */ }
  .subheading-em:hover,
  .subheading-em:focus {
    color: #fff;
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -ms-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
    cursor: pointer; }
  .subheading-em:before {
    -webkit-border-radius: 0%;
    border-radius: 0%;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .subheading-em:after {
    -webkit-border-radius: 0%;
    border-radius: 0%;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .subheading-em:hover:after,
  .subheading-em:focus:after {
    outline: 0;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .subheading-em:hover:before,
  .subheading-em:focus:before {
    outline: 0;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .subheading-em:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 2%; }
  .subheading-em:hover:after {
    width: 50%;
    height: 2%; }
  .subheading-em:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 2%; }
  .subheading-em:hover:before {
    width: 50%;
    height: 2%; }
  .subheading-em:after {
    bottom: 0%;
    left: 0%; }
  .subheading-em:before {
    bottom: 0%;
    right: 0%; }
