$default-width: 3px;
$default-delay: 2s;
$without-delay: 0s;
$default-height: 2%;
$max-height: 100%;
$max-width: 100%;
$half-width: 50%;
$half-height: 50%;
$small-height: 1px;
$linethrough-height: 5px;
$color: #2C3E50;
$font-size: 4em;
$speed: 1s;
$easing: ease;
$transition-color: #fff;
$hover-color: #fff;
$padding: 10px;
$default-background-color: #fff;