@import 'partials/effects';
@import 'partials/demo_layout';
@import 'partials/css-classes';

.col {
 position: absolute;
 width: 100%; 
}

.p-row {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 3em;
  font-weight: 700;
  color: $color; 
  @include transition-opt;
  @media (min-width: 980px) {
    font-size: 4em;
  }
}  