@import "partials/effects";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #1BA39C;
  font-family: 'Source Sans Pro', Arial;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

.main-col {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.col-anchors {
  width: 90%;
  text-align: center;
  height: auto;  
  position: relative;
  margin: 0 auto;
  
  @media (min-width: 768px) {
    width: 100%; 
  }  
}

.container {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%); 
  -moz-transform: translateY(-50%); 
  -ms-transform: translateY(-50%); 
  -o-transform: translateY(-50%); 
  transform: translateY(-50%);  
}

.btn {
  background-color: $color;
  -webkit-box-shadow: none;
  box-shadow: none;  
  width: 80%;
  margin: 20px auto 0;
  color: #fff;
  font-weight: 300;
  font-size: 2em;
  @include transition-opt(
    $display:block,
    $hover-color: $color
  );
  
  @include fill-closing-horizontal;
  @media (min-width: 768px) {
    width: auto; 
    margin: 0 10px;
    font-size: 2em;
    @include transition-opt(
     $display: inline-block,
     $padding: 20px 50px,
     $hover-color: $color
     );   
  }
}

.main-heading {
  width: 60%; 
  font-size: 2em;
  font-weight: 700;
  color: $color; 
  @include transition-opt(
    $delay-after: .5s
    );
  
  @include double-underline-opening;
  
  @media (min-width: 480px) {
    font-size: 2.5em;
  } 

  @media (min-width: 600px) {
    font-size: 3em; 
  }

  @media (min-width: 980px) {
   font-size: 4em;
  } 
}

.main-subheading {
  font-size: 1.5em; 
  margin-top: 40px; 
  color: $color;
  font-weight: 500; 
  
  @media (min-width: 480px) {
    font-size: 1.7em; 
  }
  
  @media (min-width: 768px) {
    font-size: 2.2em; 
  }
}

.subheading-em {
  line-height: 1.6em; 
  font-size: 1.2em;
  font-weight: 700;
  color: $color; 
  @include transition-opt(
    $padding: 5px
    );
  
  @include underline-closing;
}