 @import "main";
 main {
  height: 100%;
  width: 100%;
}

.main-col {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.col-anchors {
  width: 100%;
  text-align: center;
  height: auto;  
  position: relative;
  top: 35%;
  -webkit-transform: translateY(-50%); 
  -moz-transform: translateY(-50%); 
  -ms-transform: translateY(-50%); 
  -o-transform: translateY(-50%); 
  transform: translateY(-50%);   
  
}

.btn {
  background-color: $color;
  -webkit-box-shadow: none;
  box-shadow: none;  
  padding: 20px;
  text-decoration: none;  
  margin-bottom: 10px; 
  display: block;
  width: 80%;
  margin: 20px auto 0;
  z-index: -1; 
  @include transition-opt(
    $display:block,
    $color: #fff,
    $font-weight: 300,
    $font-size: 2em,
    $hover-color: $color
    );
  
  @include fill-closing-horizontal;

  @media (min-width: 480px) {

  }
  @media (min-width: 768px) {
    width: auto; 
    margin: 0 10px;
    @include transition-opt(
     $display: inline-block,
     $font-size: 2em,
     $color: #fff,
     $hover-color: $color,
     $font-weight: 500,
     $padding: 20px 50px
     
     )   

  }
}

.main-heading {
  width: 60%; 
  @include transition-opt(
    $font-size: 2em,
    $delay-after: .5s
    );
  
  @include double-underline-opening;
  
  @media (min-width: 480px) {
    @include transition-opt(
      $font-size: 2.5em,
      $delay-after: .5s
      );
  } 

  @media (min-width: 600px) {
    @include transition-opt(
      $font-size: 3em,
      $delay-after: .5s

      );
  }

  @media (min-width: 980px) {
    @include transition-opt(
      $font-size: 4em,
      $delay-after: .5s

      );
  }
}

.main-subheading {
  font-size: 2em; 
  margin-top: 40px; 
}