@mixin crossed {
    @include line-opt(pseudoafter, $transition-height: $default-height);
    @include line-opt(pseudobefore, $transition-height: $default-height);

    &:after {
      top: 50%;
      left: 0%;
      background: $color;
      right: 0;
      margin: 0 auto;
      width: 0;
  }

  &:before {
     top: 50%;
     left: 0%;
     right: 0;
     margin: 0 auto;
     background: $color;
     width: 0;
     
 }

 &:hover:after {
   top: 50%;
   left: 0%;
   -webkit-transform: rotate(45deg); 
   -moz-transform: rotate(45deg); 
   -ms-transform: rotate(45deg); 
   -o-transform: rotate(45deg); 
   transform: rotate(45deg); 
   right: 0;
   margin: 0 auto;
}

&:hover:before {
  bottom: 50%;
  left: 0%;
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
  -ms-transform: rotate(-45deg); 
  -o-transform: rotate(-45deg); 
  transform: rotate(-45deg); 
  right: 0;
  margin: 0 auto;
}
}