@mixin crossed {
	 @include line-opt(pseudoafter, $default-width, $default-height, $max-width, $default-height);
    @include line-opt(pseudobefore, $default-width, $default-height, $max-width, $default-height);
  
  &:after {
    top: 0%;
    left: 0%;
    -webkit-transform: rotate(20deg); 
    -moz-transform: rotate(20deg); 
    -ms-transform: rotate(20deg); 
    -o-transform: rotate(20deg); 
    transform: rotate(20deg); 
    -webkit-transform-origin: left center; 
    -moz-transform-origin: left center; 
    -ms-transform-origin: left center; 
    -o-transform-origin: left center; 
    transform-origin: left center; 
  }
  
  &:before {
    bottom: 0%;
    left: 0%;
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg); 
    -ms-transform: rotate(-20deg); 
    -o-transform: rotate(-20deg); 
    transform: rotate(-20deg); 
    -webkit-transform-origin: left center; 
    -moz-transform-origin: left center; 
    -ms-transform-origin: left center; 
    -o-transform-origin: left center; 
    transform-origin: left center; 
  }
}