.linethrough-opening:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 5px; }

.linethrough-opening:hover:after {
  width: 100%;
  height: 5px; }

.linethrough-opening:after {
  left: 0;
  top: 50%;
  z-index: 9;
  right: 0;
  margin: 0 auto; }
