@mixin overline-closing {
  @include line-opt(pseudoafter, $transition-width: $half-width, $transition-height: $default-height);
  @include line-opt(pseudobefore, $transition-width: $half-width, $transition-height: $default-height);
    &:after {
        top: 0%;
        left: 0%;
    }

    &:before {
        top: 0%;
        right: 0%; 
    }
}