.both-up:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 2%; }

.both-up:hover:after {
  width: 3px;
  height: 100%; }

.both-up:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 2%; }

.both-up:hover:before {
  width: 3px;
  height: 100%; }

.both-up:after {
  bottom: 0%;
  left: 0%; }

.both-up:before {
  bottom: 0%;
  right: 0%; }
