.left-up-right-down:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 2%; }

.left-up-right-down:hover:after {
  width: 3px;
  height: 100%; }

.left-up-right-down:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 2%; }

.left-up-right-down:hover:before {
  width: 3px;
  height: 100%; }

.left-up-right-down:after {
  bottom: 0%;
  left: 0%; }

.left-up-right-down:before {
  top: 0%;
  right: 0%; }
