
  .fill-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 100%; }
  .fill-left:hover:before, .fill-left:focus:before {
    width: 100%;
    height: 100%; }
  .fill-left:hover {
    color: #2C3E50 !important; }
  .fill-left:before {
    top: 0%;
    right: 0; }
