.fill-down:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 3px; }
  .fill-down:hover:before, .fill-down:focus:before {
    width: 100%;
    height: 100%; }
  .fill-down:hover {
    color: #2C3E50 !important; }
  .fill-down:before {
    top: 0%;
    right: 0; }