
.fill-opening-horizontal {
  display: inline;
  position: relative;
  z-index: 2;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: 700;
  font-size: 4em;
  color: #2C3E50;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -ms-transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
  /* backward transition */
  /* backward transition */ }
  .fill-opening-horizontal:hover,
  .fill-opening-horizontal:focus {
    color: #2C3E50;
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -ms-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
    cursor: pointer; }
  .fill-opening-horizontal:before {
    -webkit-border-radius: 0%;
    border-radius: 0%;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .fill-opening-horizontal:after {
    -webkit-border-radius: 0%;
    border-radius: 0%;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .fill-opening-horizontal:hover:after,
  .fill-opening-horizontal:focus:after {
    outline: 0;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .fill-opening-horizontal:hover:before,
  .fill-opening-horizontal:focus:before {
    outline: 0;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .fill-opening-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 100%; }
  .fill-opening-horizontal:hover:before {
    width: 100%;
    height: 100%; }
  .fill-opening-horizontal:before {
    top: 0%;
    left: 0;
    right: 0;
    margin: 0 auto; }