@mixin overline-goes-left-underline-goes-right {
  @include line-options(
    after,
    $transition-property: width,
    $value-of-transitioned-property: $max-value-of-transitioned-property
  );

  @include line-options(
    before,
    $transition-property: width,
    $value-of-transitioned-property: $max-value-of-transitioned-property
  );
  &:after {
    top: 0%;
    right: 0%;
  }

  &:before {
    bottom: 0%;
    left: 0%;
  }
}
