@mixin overline-left-underline-right {
    @include line-opt(pseudoafter, $default-width, $default-height, $max-width, $default-height);
    @include line-opt(pseudobefore, $default-width, $default-height, $max-width, $default-height);
    &:after {
        top: 0%;
        right: 0%;
    }

    &:before {
        bottom: 0%;
        left: 0%; 
    }
}