@mixin top-right {
  @include line-opt(pseudoafter, $animation-height: $default-height);
  @include line-opt(pseudobefore, $animation-height: $max-height, $animation-width: $default-width);
  &:before {
      bottom: 0%;
      left: 0;
  }

  &:after {
      bottom: 0;
      left: 0; 
  }
}