@mixin du-reversed-rl {
  @include line-options(
    after,
    $transition-property: width,
    $value-of-transitioned-property: $max-value-of-transitioned-property
  );

  @include line-options(
    before,
    $transition-property: width,
    $value-of-transitioned-property: $max-value-of-transitioned-property
  );

  &:after {
    right: 0%;
    bottom: 0;
  }

  &:before {
    left: 0%;
    bottom: 10px;
  }
}
