@mixin left-up-right-down {
      @include line-opt(pseudoafter, $animation-width: $default-width);
    @include line-opt(pseudobefore, $animation-width: $default-width);

    &:after {
        bottom: 0%;
        left: 0%;
    }

    &:before {
        top: 0%;
        right: 0%; 
    }
}