@mixin both-left {
      @include line-opt(pseudoafter, $transition-height: $default-height);
    @include line-opt(pseudobefore, $transition-height: $default-height);
  
  &:after {
    top: 0%;
    right: 0%;
  }
  
  &:before {
    bottom: 0%;
    right: 0%;
  }
}