@mixin both-right {
      @include line-options(pseudoafter, $transition-height: $default-height);
    @include line-options(pseudobefore, $transition-height: $default-height);
  
  &:after {
    top: 0%;
    left: 0%;
  }
  
  &:before {
    bottom: 0%;
    left: 0%;
  }
}