@mixin left-down-right-up {
      @include line-options(pseudoafter, $transition-width: $default-width);
    @include line-options(pseudobefore, $transition-width: $default-width);

    &:after {
        top: 0%;
        left: 0%;
    }

    &:before {
        bottom: 0%;
        right: 0%; 
    }
}