@mixin paragraph-opt($font-size, $color, $hover-color) {
	display: inline;
	width: 100%;
	padding: $default-padding;
	position: relative;
	z-index: 2;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: $font-size;
	color: $color; 
	font-weight: 700; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	-ms-transition: all 1s ease; 
	-o-transition: all 1s ease; 
	transition: all 1s ease; 
	
	&:hover {
		color: $hover-color;
		-webkit-transition: all 1s ease; 
		-moz-transition: all 1s ease; 
		-ms-transition: all 1s ease; 
		-o-transition: all 1s ease; 
		transition: all 1s ease; 
		cursor: pointer;
	}
}


@mixin line-opt($type, $underline-color, $underline-width) {
	@if $type == pseudoafter {
		&:after {
			content: "";
			position: absolute;
			z-index: -1; 
			-webkit-transition: all 1s ease; 
			-moz-transition: all 1s ease; 
			-ms-transition: all 1s ease; 
			-o-transition: all 1s ease; 
			transition: all 1s ease; 
		}

		&:hover:after {
			width: $underline-width;
			background-color: $underline-color;
			-webkit-transition: all 1s ease; 
			-moz-transition: all 1s ease; 
			-ms-transition: all 1s ease; 
			-o-transition: all 1s ease; 
			transition: all 1s ease; 
		}
	}

	@else if $type == pseudobefore {
		&:before {
			content: "";
			position: absolute;
			z-index: -1; 
			-webkit-transition: all 1s ease; 
			-moz-transition: all 1s ease; 
			-ms-transition: all 1s ease; 
			-o-transition: all 1s ease; 
			transition: all 1s ease; 
		}

		&:hover:before {
			width: $underline-width;
			background-color: $underline-color;
			-webkit-transition: all 1s ease; 
			-moz-transition: all 1s ease; 
			-ms-transition: all 1s ease; 
			-o-transition: all 1s ease; 
			transition: all 1s ease; 
		}
	}
}

@mixin rectangle-opt($type, $background-color, $width, $height) {
	@if $type == pseudoafter {
		&:after {
			content: "";
			position: absolute;
			z-index: -1; 
			-webkit-transition: all 1s ease; 
			-moz-transition: all 1s ease; 
			-ms-transition: all 1s ease; 
			-o-transition: all 1s ease; 
			transition: all 1s ease; 
		}

		&:hover:after {
			width: $width;
			height: $height;
			background-color: $background-color;
			-webkit-transition: all 1s ease; 
			-moz-transition: all 1s ease; 
			-ms-transition: all 1s ease; 
			-o-transition: all 1s ease; 
			transition: all 1s ease;
		}
	}

	@else if $type == pseudobefore {
		&:before {
			content: "";
			position: absolute;
			z-index: -1; 
			-webkit-transition: all 1s ease; 
			-moz-transition: all 1s ease; 
			-ms-transition: all 1s ease; 
			-o-transition: all 1s ease; 
			transition: all 1s ease; 
		}

		&:hover:before {
			width: $width;
			height: $height;
			background-color: $background-color;
			-webkit-transition: all 1s ease; 
			-moz-transition: all 1s ease; 
			-ms-transition: all 1s ease; 
			-o-transition: all 1s ease; 
			transition: all 1s ease;
		}
	}
}
