@mixin both-up {
    @include line-opt(pseudoafter, $default-underline-color, $small-width);
    @include line-opt(pseudobefore, $default-underline-color, $small-width);
    &:after {
        height: 3%;
        bottom: 0%;
        width: 3px;
        left: 0%;
    }

    &:before {
        height: 3%;
        bottom: 0%;
        width: 3px;
        right: 0%; 
    }

    &:hover:before {
        height: 100%; 
    }

    &:hover:after {
        height: 100%; 
    }
}