@mixin both-up {
    @include line-opt(pseudoafter, $default-underline-color, $small-width);
    @include line-opt(pseudobefore, $default-underline-color, $small-width);
    &:after {
        height: 3%;
        bottom: 0%;
        width: 3px;
        left: 0%;
    }

    &:before {
        height: 3%;
        bottom: 0%;
        width: 3px;
        right: 0%; 
    }

    &:hover:before {
        background: #fff;
        height: 100%; 
        -webkit-transition: height 1s ease; 
        -moz-transition: height 1s ease; 
        -ms-transition: height 1s ease; 
        -o-transition: height 1s ease; 
        transition: height 1s ease; 
    }

    &:hover:after {
        background: #fff;
        height: 100%; 
        -webkit-transition: height 1s ease; 
        -moz-transition: height 1s ease; 
        -ms-transition: height 1s ease; 
        -o-transition: height 1s ease; 
        transition: height 1s ease; 
    }
}