@mixin both-down {
	 @include line-opt(pseudoafter, $default-underline-color, $small-width);
    @include line-opt(pseudobefore, $default-underline-color, $small-width);
    &:after {
        height: 1%;
        top: 0%;
        width: 3px;
        left: 0%;
    }

    &:before {
        height: 1%;
        top: 0%;
        width: 3px;
        right: 0%; 
    }

    &:hover:before {
        height: 100%; 
    }

    &:hover:after {
        height: 100%; 
    }
}