$small-width: 3px;
$default-color: #2C3E50;
$default-underline-color: #fff;
$default-hover-color: #fff;
$default-width: 100%;
$default-padding: 15px;
$default-height: 100%;
$default-background-color: #fff;