@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #1BA39C;
  font-family: 'Source Sans Pro', Arial;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

aside {
  height: 100%;
  
  &.left {
    float: left;
    background: $color;
    overflow: auto;
    display: none;  

    @media (min-width: 1200px) {
      width: 20%; 
      display: block;
    }

  }

  &.right {
   float:right;
   overflow: auto; 

   
      width: 100%; 
  
  @media(min-width: 1200px) {
    width: 80%; 
  }
  }
}

.styles {
  list-style: none;
  width: 100%;
  margin: 0 auto; 
  border-top: 1px solid rgba(225,225,225, .3); 

  .item {
    color: #fff;
        font-weight: 300;

    cursor: pointer; 
    background: $color;
    text-align: left;
    opacity: .8;
    padding: 5px 0;
      margin: 5px 20px;
      font-size: 1em; 
    
    @media (min-width: 768px) {
       font-size: 1em; 
    padding: 15px 0px; 
   
    }

    @media (min-width: 980px) {
       margin: 10px 30px;
    }
    
    @media (min-width: 1200px) {
      margin: 10px 50px; 
             font-size: 1.2em; 

    }

    &.current {
      opacity: 1; 
      color: #1BA39C;
      -webkit-transition: all 1s ease; 
      -moz-transition: all 1s ease; 
      -ms-transition: all 1s ease; 
      -o-transition: all 1s ease; 
      transition: all 1s ease; 
    }
    &:hover,
    &:focus {
      opacity: 1;
      -webkit-transition: opacity 1s ease; 
      -moz-transition: opacity 1s ease; 
      -ms-transition: opacity 1s ease; 
      -o-transition: opacity 1s ease; 
      transition: opacity 1s ease; 
    }

    &.item-divider {
      cursor: auto;
      text-transform: uppercase;
      font-weight: 700;  
      opacity: 1; 
      &:hover {
        background: $color;
      }
    }
  }
}



.list-heading {
  color: #fff;
  text-align: center;
  font-size: 2em;
  margin: 15px 0;  
}

.col {
 position: absolute;
 width: 100%; 
}

.p-row {
  text-align: center; 
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%); 
     -moz-transform: translateY(-50%); 
     -ms-transform: translateY(-50%); 
     -o-transform: translateY(-50%); 
     transform: translateY(-50%);    
}

.nav {
  color: #fff;
  top: 10px;
  text-decoration:none;  
  @include transition-opt($font-size: 1.2em);
  @include underline-right;
  float: right;
  margin-right: 15px;
  
  &:focus {
    outline: none;
  }
}


.list-heading {
  color: #fff;
  font-size: 1.4em;  
  margin: 10px 20px; 
}

.p-row {
  p {
    @include transition-opt(
      $font-size: 3em
      );

    @media (min-width: 980px) {
     @include transition-opt(
      $font-size: 4em
      );
   }
 }

 .special {
  @include special;
}

.special-delay {
  @include transition-opt($delay-after: .5s);
  @include special;
}

.special-reversed {
  @include special-reversed;
}


.overline-right {
  @include overline-right;
}

.both-down {
  @include both-down;
}

.both-left {
  @include both-left;
}

.both-right {
  @include both-right;
}

.both-up {
  @include both-up;
}

.both-opening-horizontal {
  @include both-opening-horizontal;
}

.left-up-right-down {
  @include left-up-right-down;
}

.left-down-right-up {
  @include left-down-right-up;
}

.left-down {
  @include left-down;
}

.left-up {
  @include left-up;
}

.right-up {
  @include right-up;
}

.right-down {
  @include right-down;
}

.overline-left {
  @include overline-left;
}

.underline-left {
  @include underline-left;
}

.fill-up {
 @include transition-opt($hover-color: $color);
 @include fill-up;
}

.fill-down {
 @include transition-opt($hover-color: $color);
 @include fill-down;
}

.fill-left {
 @include transition-opt($hover-color: $color);
 @include fill-left;
}

.fill-right {
 @include transition-opt($hover-color: $color);
 @include fill-right;
}

.fill-top-left {
 @include transition-opt($hover-color: $color);
 @include fill-top-left;
}

.fill-top-right {
 @include transition-opt($hover-color: $color);
 @include fill-top-right;
}

.fill-bottom-left {
 @include transition-opt($hover-color: $color);
 @include fill-bottom-left;
}

.fill-bottom-right {
 @include transition-opt($hover-color: $color);
 @include fill-bottom-right;
}

.fill-opening-horizontal {
 @include transition-opt($hover-color: $color);
 @include fill-opening-horizontal; 
}

.fill-closing-horizontal {
 @include transition-opt($hover-color: $color);
 @include fill-closing-horizontal; 
}

.fill-closing-vertical {
 @include transition-opt($hover-color: $color);
 @include fill-closing-vertical; 
}


.left-top {
  @include left-top;
}

.right-top {
  @include right-top;
}

.left-bottom {
  @include left-bottom;
}

.right-bottom {
  @include right-bottom;
}

.linethrough-opening {
  @include linethrough-opening;
}

.linethrough-closing {
  @include linethrough-closing;
}

.linethrough-left {
  @include linethrough-left;
}

.linethrough-right {
  @include linethrough-right;
}

.underline-closing {
  @include underline-closing;
}

.underline-opening {
  @include underline-opening;
}
.underline-right {
  @include underline-right;
}
.overline-closing {
  @include overline-closing;
}

.overline-opening {
  @include overline-opening;
}

.overline-left-underline-right {
  @include overline-left-underline-right;
}

.overline-right-underline-left {
  @include overline-right-underline-left;
}

.double-underline-left {
  @include double-underline-left;
}

.double-underline-right {
  @include double-underline-right;
}

.double-underline-opening {
  @include double-underline-opening;
}

.double-underline-left-right {
  @include double-underline-left-right;
}

.double-underline-right-left {
  @include double-underline-right-left;
}


.double-linethrough-left {
  @include double-linethrough-left;
}

.double-linethrough-right {
  @include double-linethrough-right;
}

.double-linethrough-left-right {
  @include double-linethrough-left-right;
}

.double-linethrough-right-left {
  @include double-linethrough-right-left;
}
.double-linethrough-opening {
  @include double-linethrough-opening;
}

.crossed {
  @include transition-opt;
  @include crossed;
}

.crossed-delay  {
  @include transition-opt($delay-after: .5s);
  @include crossed;
}

.crossed-reversed {
  @include crossed-reversed;
}

.crossed-special {
  @include crossed-special;

}

.double-underline-right-delayed {
  @include transition-opt($delay-after: 1s);
  @include double-underline-right;
}

.double-underline-opening-delayed {
 @include transition-opt($delay-after: .5s);
 @include double-underline-opening;
}

.top-right {
  @include top-right;
}

.top-left {
  @include top-left;
}

.bottom-left {
  @include bottom-left;
}

.bottom-right {
  @include bottom-right;
}

.left-bottom-delay {
  @include transition-opt($delay-after: .5s);
  @include left-bottom;
}

.right-top-delay {
  @include transition-opt($delay-after: .5s);
  @include right-top;
}

.left-bottom-delay {
  @include transition-opt($delay-after: .5s);
  @include left-bottom;
}

.right-bottom-delay {
  @include transition-opt($delay-after: .5s);
  @include right-bottom;
}


.left-top-delay {
  @include transition-opt($delay-after: .5s);
  @include left-top;
}

.right-top-delay {
  @include transition-opt($delay-after: .5s);
  @include right-top;
}

.left-bottom-delay {
  @include transition-opt($delay-after: .5s);
  @include left-bottom;
}

.right-bottom-delay {
  @include transition-opt($delay-after: .5s);
  @include right-bottom;
}

.double-linethrough-left-delayed {
  @include transition-opt($delay-after: .5s);
  @include double-linethrough-left;
}

.double-linethrough-right-delayed {
  @include transition-opt($delay-after: .5s);
  @include double-linethrough-right;
}

.double-linethrough-left-right-delayed {
  @include transition-opt($delay-after: .5s);
  @include double-linethrough-left-right;
}

.double-linethrough-right-left-delayed {
  @include transition-opt($delay-after: .5s);
  @include double-linethrough-right-left;
}
.double-linethrough-opening-delayed {
  @include transition-opt($delay-after: .5s);
  @include double-linethrough-opening;
}

.fill-closing-horizontal-delayed {
 @include transition-opt($delay-after: .5s, $hover-color: $color);
 @include fill-closing-horizontal; 
}

.both-left-delayed {
  @include transition-opt($delay-after: .5s);
  @include both-left;
}

.both-right-delayed {  
  @include transition-opt($delay-after: .5s);
  @include both-right;
}

.double-overline-left {
  @include double-overline-left;
}

.double-overline-right {
  @include double-overline-right;
}

.double-overline-left-right {
  @include double-overline-left-right;
}

.double-overline-right-left {
  @include double-overline-right-left;
}

.double-overline-opening {
  @include double-overline-opening;
}

.top-right-delay {
  @include transition-opt($delay-after: .5s);
  @include top-right;
}

.top-left-delay {
  @include transition-opt($delay-after: .5s);
  @include top-left;
}

.bottom-left-delay {
  @include transition-opt($delay-after: .5s);
  @include bottom-left;
}

.bottom-right-delay {
  @include transition-opt($delay-after: .5s);
  @include bottom-right;
}

}
