@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$default-color: #2C3E50;
$default-underline-color: #fff;
$default-hover-color: #fff;
$default-width: 50%;
$default-padding: 15px;

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #1BA39C;
  font-family: 'Source Sans Pro', Arial;
}

main {
  width: 100%;
  height: 100%;  
}

section {
  height: 25%; 
}

.container {
  padding: 0 10px;
}

.col {
  float: left;
  width: 25%;
  text-align: center;
  padding: 0;  
}

p {
   @include paragraph-opt(3em, $default-color, $default-hover-color);
}

.effect-1 {
  @include left-top;
}

.effect-2 {
  @include right-top;
}

.effect-3 {
  @include left-bottom;
}

.effect-4 {
  @include right-bottom;
}

.effect-5 {
  @include both-right;
}

.effect-6 {
  @include both-left;
}

.both-down {
  @include both-down;
}

.effect-8 {
  @include effect8;
}

.effect-9 {
  @include effect9;
}

.effect-10 {
  @include effect10;
}

.effect-11 {
  @include effect11;
}

.fill-left {
  @include fill-left;
}

.fill-right {
  @include fill-right;
}

.fill-bottom {
  @include fill-bottom;
}

.fill-up {
  @include fill-up;
}