@mixin overline($hover-color, $underline-color, $underline-width) {
  &:after {
    content: "";
    height: 2%;
    left: 0;
    top: 0;
    width: 1px;
    position: absolute;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    right: 0;
    margin: 0 auto;
  }

  &:hover {
    color: $hover-color;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    cursor: pointer;
  }

  &:hover:after {
    width: $underline-width;
    background-color: $underline-color;
  }
}