@mixin effect11 {
  
 &:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 1px;
    top: 0%;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &:before {
    content: "";
    position: absolute;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 1px;
    bottom: 0%;
    width: 100%;
    right: 0;
    left: 0;
    margin: 0 auto; 
  }

  &:hover:before {
  	width: 0; 
    background: #fff;
    -webkit-transition: width 1s ease; 
    -moz-transition: width 1s ease; 
    -ms-transition: width 1s ease; 
    -o-transition: width 1s ease; 
    transition: width 1s ease; 
   
  }

  &:hover:after {
       width: 0; 
    background: #fff;
    -webkit-transition: width 1s ease; 
    -moz-transition: width 1s ease; 
    -ms-transition: width 1s ease; 
    -o-transition: width 1s ease; 
    transition: width 1s ease; 

  }
}