@mixin fill-bottom-right {
   @include rectangle-opt(pseudobefore, $default-background-color, $default-width, $default-height);
   &:before {
    height: 2%;
    bottom: 0%;
    width: 3px;
    right: 0;
  }
}