@mixin linethrough {
	&:after {
		content: "";
  height:5px;
  left: 0;
  bottom: 45%;
  width: 1px;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: -1;
  background: transparent;
  right: 0;
  margin: 0 auto;
	}

	&:hover:after {
		 width: 100%;
  background: #fff;
  -webkit-transition: width 1s ease; 
  -moz-transition: width 1s ease; 
  -ms-transition: width 1s ease; 
  -o-transition: width 1s ease; 
  transition: width 1s ease; 
	}
}