@mixin right-bottom {
  @include line-opt(pseudoafter, $default-underline-color, $small-width);
  @include line-opt(pseudobefore, $default-underline-color, $default-width);
  &:after {
    height: 2%;
    right: 0;
    top: 0%;
    width: 3px;
  }

  &:hover:after {
    height: 100%;
  }

  &:before {
    height: 2%;
    left: 0;
    bottom: 0%;
    width: 1px;
    margin: 0 auto;
  }
}