@mixin double-linethrough-opening {
   @include line-options(pseudoafter, $height: $linethrough-height, $transition-height: $linethrough-height);
  @include line-options(pseudobefore, $height: $linethrough-height, $transition-height: $linethrough-height);

  &:after {
    left: 0;
    top: 54%; 
    z-index: 9; 
      right: 0;
  margin: 0 auto;
  }

  &:before {
    left: 0;
    top: 44%; 
    z-index: 9; 
      right: 0;
  margin: 0 auto;
  }
}