.move-down:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 2px; }
.move-down:hover:after, .move-down:focus:after {
  width: 100%;
  height: 3px; }
.move-down:after {
  top: 50%;
  left: 0; }
.move-down:hover:after {
  top: 100%; }