.move-right:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 100%; }
.move-right:hover:after, .move-right:focus:after {
  width: 3px;
  height: 100%; }
.move-right:after {
  top: 0;
  right: 50%; }
.move-right:hover:after {
  right: 0; }
