.move-up:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 2px; }
.move-up:hover:after, .move-up:focus:after {
  width: 100%;
  height: 3px; }
.move-up:after {
  bottom: 50%;
  left: 0; }
.move-up:hover:after {
  bottom: 100%; }