p,
body,
html {
  margin: 0;
}

.section-result {
  background-color: #fcd400;
  padding: 70px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.section-options {
  margin-top: 266px;
}

.section {
  padding: 40px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
}
.section h3 {
  color: #000000;
  text-transform: uppercase;
}

.effect {
  margin-bottom: 10px;
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}
.effect:hover {
  opacity: 1;
}

.section-halfline span {
  background-color: #000000;
}

.section-both-side span {
  background-color: #4dabc8;
}

.section-corners-close span {
  background-color: #0b3c49;
}

.section-corners-expand span {
  background-color: #af0981;
}

.section-double-linethrough span {
  background-color: #fcd400;
}

.section-double-underline span {
  background-color: #4dabc8;
}

.section-fill span {
  background-color: #0b3c49;
}

.section-fill-corners span {
  background-color: #af0981;
}

.section-linethrough span {
  background-color: #fcd400;
}

.section-moves span {
  background-color: #4dabc8;
}

.section-side-line span {
  background-color: #0b3c49;
}

.section-overline span {
  background-color: #af0981;
}

.section-underline span {
  background-color: #fcd400;
}

.text-center {
  text-align: center;
}

.effect {
  padding: 7px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  display: inline-block;
}

.text-hover {
  font-size: 4em;
}
