@mixin fill-right {
  @include line-options(
    after,
    $transition-property: width,
    $value-of-transitioned-property: $max-value-of-transitioned-property
  );
  &:hover {
    color: $hovered-text-color-for-fill-effects !important;
  }

  &:after {
    top: 0%;
    left: 0;
    bottom: 0;
    height: 100%;
  }
}
