@mixin fill-closing-horizontal {
  @include line-options(
    after,
    $transition-property: width,
    $value-of-transitioned-property: $max-value-of-transitioned-property / 2
  );
  @include line-options(
    before,
    $transition-property: width,
    $value-of-transitioned-property: $max-value-of-transitioned-property / 2
  );

  &:before {
    top: 0%;
    bottom: 0;
    left: 0;
    height: auto;
  }

  &:after {
    top: 0%;
    bottom: 0;
    right: 0;
    height: auto;
  }
}
