.top-right:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 2%; }

.top-right:hover:after {
  width: 100%;
  height: 2%; }

.top-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 2%; }

.top-right:hover:before {
  width: 3px;
  height: 100%; }

.top-right:before {
  bottom: 0%;
  left: 0; }

.top-right:after {
  bottom: 0;
  left: 0; }
