@mixin top-then-right {
	@include line-opt(pseudoafter, $default-width, $default-height, $max-width, $default-height);
  @include line-opt(pseudobefore, $default-width, $default-height, $default-width, $max-height);
  &:before {
      bottom: 0%;
      left: 0;
  }

  &:after {
      top: 0;
      left: 0; 
  }

}