@mixin underline-closing {
    
 @include line-opt(pseudoafter, $animation-width: $half-width, $animation-height: $default-height);
  @include line-opt(pseudobefore, $animation-width: $half-width, $animation-height: $default-height);
    &:after {
        bottom: 0%;
        left: 0%;
    }

    &:before {
        bottom: 0%;
        right: 0%; 
    }
}