$black: #000000;
$white: #ffffff;
$name-of-the-class: text-hover; // prefix all the effects with the custom name
$hovered-text-color: $black; // color of the text on hover
$hovered-text-color-for-fill-effects: $white; // color on hover for fill and fill-corners
$transitioned-line-bg-clr: $black; //bg color of the lines during the transition
$transition-speed: 0.7s; // transition-duration
$transition-easing: ease-in-out; // transition-timing-function
$transition-delay: 0s; // transition-delay
$size-of-the-line: 3px; // width or height of the pseudoelement
$space-above-the-text: 5px; // padding-top
$space-below-the-text: 5px; // padding-bottom
$space-on-the-left-side: 5px; // padding-left
$space-on-the-right-side: 5px; // padding-right
$display: inline; // display property, if you change it, I really hope you know what you are doing
