$transitioned-properties: "width", "height";
@mixin fc-bottom-right {
  @include line-options(
    after,
    $transition-property: $transitioned-properties,
    $value-of-transitioned-property: $max-value-of-transitioned-property
  );
  &:hover {
    color: $hovered-text-color-for-fill-effects !important;
  }
  &:after {
    bottom: 0%;
    left: 0;
  }
}
