$transitioned-properties: width, height;
@mixin fc-top-right {
  @include line-options(
    after,
    $transition-property: $transitioned-properties,
    $value-of-transitioned-property: $max-value-of-transitioned-property
  );
  &:after {
    top: 0%;
    left: 0;
  }
}
