@mixin fill-bottom-left {
  @include line-options(
    after,
    $transition-property: width,
    $value-of-transitioned-property: $max-value-of-transitioned-property
  );
  &:hover {
    color: $hovered-text-color-for-fill-effects !important;
  }
  &:after {
    bottom: 0%;
    right: 0;
  }
}
