@mixin linethrough-closing {
  @include line-options(
    after,
    $transition-property: width,
    $value-of-transitioned-property: $max-value-of-transitioned-property
  );

  @include line-options(
    before,
    $transition-property: width,
    $value-of-transitioned-property: $max-value-of-transitioned-property
  );

  &:after {
    left: 0;
    top: 50%;
    z-index: 9;
  }

  &:before {
    top: 50%;
    right: 0%;
    z-index: 9;
  }
}
