@mixin left-bottom {
  @include line-options(pseudoafter, $transition-height: $default-height);
  @include line-options(pseudobefore, $transition-height: $max-height, $transition-width: $default-width);

  &:before {
      top: 0%;
      left: 0;
  }

  &:after {
      bottom: 0;
      right: 0; 
  }

}