.left-bottom:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 2%; }

.left-bottom:hover:after {
  width: 100%;
  height: 2%; }

.left-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 2%; }

.left-bottom:hover:before {
  width: 3px;
  height: 100%; }

.left-bottom:before {
  top: 0%;
  left: 0; }

.left-bottom:after {
  bottom: 0;
  right: 0; }
