.fill-bottom-right {
  display: inline;
  position: relative;
  z-index: 2;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -ms-transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
  /* backward transition */
  /* backward transition */ }
  .fill-bottom-right:hover,
  .fill-bottom-right:focus {
    color: #2C3E50;
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -ms-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
    cursor: pointer; }
  .fill-bottom-right:before {
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .fill-bottom-right:after {
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .fill-bottom-right:hover:after,
  .fill-bottom-right:focus:after {
    outline: 0;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .fill-bottom-right:hover:before,
  .fill-bottom-right:focus:before {
    outline: 0;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s; }
  .fill-bottom-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 2%; }
  .fill-bottom-right:hover:before {
    width: 100%;
    height: 100%; }
  .fill-bottom-right:before {
    bottom: 0%;
    left: 0; }
