.overline-right:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 2%; }

.overline-right:hover:after {
  width: 100%;
  height: 2%; }

.overline-right:after {
  left: 0%;
  top: 0; }
