.underline-left:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 2%; }

.underline-left:hover:after {
  width: 100%;
  height: 2%; }

.underline-left:after {
  right: 0%;
  bottom: 0; }
