@mixin double-overline-opening {
  @include line-opt(pseudoafter, $transition-height: $default-height);
  @include line-opt(pseudobefore, $transition-height: $default-height);

 &:after {
  right: 0%; 
  top: 0;
  margin: 0 auto;
  left: 0; 
} 

&:before {
  right: 0%; 
  top: 10px;
  margin: 0 auto;
  left: 0;
} 
}