@mixin double-underline-left {
  @include line-opt(pseudoafter, $transition-height: $default-height);
  @include line-opt(pseudobefore, $transition-height: $default-height);

  &:after {
    right: 0%; 
    bottom: 0;
  } 

  &:before {
    right: 0%; 
    bottom: 10px;
  } 
}