@mixin double-underline-right {
  @include line-options(pseudoafter, $transition-height: $default-height);
  @include line-options(pseudobefore, $transition-height: $default-height);
  
 &:after {
  left: 0%; 
  bottom: 0;
} 

&:before {
  left: 0%; 
  bottom: 10px;
} 

}