.right-down:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 2%; }

.right-down:hover:after {
  width: 3px;
  height: 100%; }

.right-down:after {
  top: 0%;
  right: 0%; }
