@mixin fill-closing-vertical{
	  @include line-opt(pseudobefore, $width: $max-width, $animation-height: $half-height);
	  @include line-opt(pseudoafter, $width: $max-width, $animation-height: $half-height);


	&:before {
		top: 0%;
		right: 0;
	}

	&:after {
		bottom: 0%;
		right: 0;
	}
}